/*
 Theme Name:     WP Wizards Custom
 Theme URI:      https://www.wpwizards.com/
 Description:    Custom Divi child theme with WP Wizards tools and features.
 Author:         WP Wizards
 Author URI:     https://www.wpwizards.com/
 Template:       Divi
 Version:        1.0.0
*/
 
 
/* =Theme customization starts here
------------------------------------------------------- */

/* Featured Image Caption */
.featured-image-caption {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  font-style: italic;
}
